$terminal-body-background: #1d252c;
$terminal-bar-background: #383733;

$terminal-close-button: #e74c3c;
$terminal-close-button-hover: #c0392b;
$terminal-minimize-button: #74b9ff;
$terminal-minimize-button-hover: #009de3;
$terminal-maximize-button: #f1c40f;
$terminal-maximize-button-hover: #f0B000;

$location-text: #1eBc61;