body {
    @include transition(transform 0.2s, filter 0.2s);
}

body.mirrored {
    %mirror {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    .terminal-header {
        .user-login {
            @extend %mirror;
        }

        .minimize {
            left: 3.1em;
        }

        .maximize {
            left: 1.8em;
        }

        .close {
            left: 0.5em;
        }
    }

    .terminal-body {

        .digited-text {            

            .text-block {
                @extend %mirror;

                .input-container {
                    -moz-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;
                    filter: none;
                    -ms-filter: none;
                }
            }
        }

        .input-container {
            @extend %mirror;
        }

        .mark {
            @extend %mirror;
            left: 0.5em;
            right: initial;
        }
    }
}

.terminal-header {
    height: 1.6em;
    background-color: $terminal-bar-background;

    .user-login {
        font-size: 0.9em;
        width: calc(100% - 0.5em);
        padding-left: 0.5em;
        line-height: 1.6em;
        font-weight: bold;
        vertical-align: middle;
        color: rgba(white, 0.75f);
    }

    $button-size: 0.7em;

    %button {
        position: absolute;
        top: $button-size / 2;
        width: $button-size;
        height: $button-size;
        border-radius: 50%;
        cursor: pointer;

        @include transition(background-color 0.2s);
    }

    .minimize {
        @extend %button;

        right: 3.1em;
        background-color: $terminal-minimize-button;

        &:hover {
            background-color: $terminal-minimize-button-hover;
        }
    }

    .maximize {
        @extend %button;

        right: 1.8em;
        background-color: $terminal-maximize-button;

        &:hover {
            background-color: $terminal-maximize-button-hover;
        }
    }

    .close {
        @extend %button;

        right: 0.5em;
        background-color: $terminal-close-button;

        &:hover {
            background-color: $terminal-close-button-hover;
        }
    }
}

.terminal-body {
    padding: 1em 0.5em;
    font-size: 0.7em;
    line-height: 0.7em;

    .digited-text {
        overflow: auto;
        
        .text-block {
    
            a {
                font-size: 1em;
                text-decoration: underline;
                padding: 0.2em 0;
                font-weight: 100;
            }
        }
    }
    
    .input-container {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin-top: 0.5em;
    
        .location {
            padding-right: 0.5em;
            color: $location-text;
        }
    
        .static-text,
        .input {
            background: transparent;
            border: none;
            display: inline-block;
            outline: none;
            padding-left: 0.5em; 
            width: 100%;
            caret-color: white;
        }
    }

    .mark {
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
    }
}

@media (min-width: 400px) {
    .terminal-header {
        .user-login {
            font-size: 1em;
            text-align: center;
            padding: 0;
            width: 100%;
        }
    }
}

@media (min-width: 600px) {
    .terminal-body {
        font-size: 1em;
        line-height: 1em;

        .input-container {
            font-size: 1rem;
            line-height: 1rem;
        }
    }
}