<!DOCTYPE html>
<html>
  <head>
    <title>It's me, Greg</title>
    <meta name="description" content="A application simulating an unix terminal with access to my profissional profile">
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#1d252c">
    <link rel="icon" type="image/ico" href="images/favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <link href="css/home.css" type="text/css" rel="stylesheet">
    <script async src="js/vendor/async-define.js"></script>
    <script async src="js/vendor/events-amd.js"></script>
    <script async src="js/vendor/doc.js"></script>
    <script async src="js/terminal.js"></script>
    <script async src="js/terminal-commander.js"></script>
  </head>

  <body>
    <header class="terminal-header">
      <h1 class="user-login">anonymous@itsmegreg.dev</h1>
      <span class="minimize"></span>
      <span class="maximize"></span>
      <span class="close"></span>
    </header>
    <main class="terminal-body">
      <%- yield %>
      <p class="mark">By Greg™</p>
    </main>
  </body>

</html>