<article id="digited-text" class="digited-text">
    <section id="initial-text-block" class="hide">
Welcome to my own terminal v0.1.0 (GNU/Linux 4.9.0-8-amd64 x86_64)

    * Github:    <a target="_blank" href="https://github.com/ericdallo">https://github.com/ericdallo</a>
    * Linkedin:  <a target="_blank" href="https://www.linkedin.com/in/ericdallo">https://www.linkedin.com/in/ericdallo</a>
    * E-mail:    <a target="_blank"href="mailto: ercdll1337@gmail.com">ercdll1337@gmail.com</a>

This terminal gives access to my professional profile, you can find
files and links about my carreer or my achievements, and if you want,
you can contact me with the command 'contact-me'.

Last login: Mon May 11 21:50:34 2020

Type 'help' to list all the available commands        
    </section>
    <section id="help-text-block" class="hide">ls                                             Lists all files and folders on current directory
cat [FILE]                                     Prints the content of a file
clear                                          Clear the terminal
change-theme                                   Change the terminal theme color between black and white
contact-me [YOUR_EMAIL] [SUBJECT] [MESSAGE]    Send to me a e-mail from [YOUR_EMAIL] with the subject [SUBJECT] and the message body [MESSAGE].
help                                           Prints this help block
    --hidden                                   Prints hidden commands :p
    </section>
    <section id="about-me-text-block" class="hide">Hi, I'm Eric Dallo (nick Greg =]) and I'm a lover of linux,
specifically NixOS, and a Emacs fanatic. I started programming with mobile
apps, then web sites and already tried to create even little games.

I like the idea of building my career in this wonderful and magic area.
Today besides my other hobbies, my favorite is to code a new and fresh
app studying some programming language, framework or tecnology.
    </section>
    <section id="projects-text-block" class="hide">lsp-dart                    │ Emacs IDE for Dart and Flutter                           │ <a target="_blank" href="https://github.com/ericdallo/lsp-dart">https://github.com/emacs-lsp/lsp-dart</a>
hover.el                    │ Run Flutter apps on desktop without emulator via Emacs   │ <a target="_blank" href="https://github.com/ericdallo/hover.el">https://github.com/ericdallo/hover.el</a>
ripple_effect               │ A Flutter package for adding a ripple effect on your app │ <a target="_blank" href="https://github.com/ericdallo/ripple_effect">https://github.com/ericdallo/ripple_effect</a>
spring-s3-properties-loader │ Spring component to load external properties from AWS S3 │ <a target="_blank" href="https://github.com/ericdallo/spring-s3-properties-loader">https://github.com/ericdallo/spring-s3-properties-loader</a>
gregflix                    │ A Clojure web app with video stream                      │ <a target="_blank" href="https://github.com/ericdallo/gregflix">https://github.com/ericdallo/gregflix</a>
bctrader                    │ A GO application to buy/sell digital coins               │ <a target="_blank" href="https://github.com/ericdallo/bctrader">https://github.com/ericdallo/bctrader</a>
correios-java-sdk           │ Java SDK for Correios api's                              │ <a target="_blank" href="https://github.com/shipping7/correios-java-sdk">https://github.com/shipping7/correios-java-sdk</a>
MediaUSJT-mobile            │ Android app for universsity grades calculations          │ <a target="_blank" href="https://github.com/ericdallo/MediaUSJT-mobile">https://github.com/ericdallo/MediaUSJT-mobile</a>
CubePush                    │ Unity game                                               │ <a target="_blank" href="https://github.com/ericdallo/cubepush">https://github.com/ericdallo/cubepush</a>
    </section>
</article>
<div id="input-container">
    <section class="input-container">
        <span class="location">~</span>
        <span>$</span>
        <input id="input" class="input">
    </section>
</div>
<script async src="js/home.js"></script>
